# Language detection for GitHub
*.sql        linguist-language=SQL
*.sql        linguist-detectable=true

*.py         linguist-language=Python
*.py         linguist-detectable=true

*.yml        linguist-language=YAML
*.yml        linguist-detectable=true

*.yaml       linguist-language=YAML
*.yaml       linguist-detectable=true

*.md         linguist-detectable=false